.wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.nav-menu a {
    margin: 3.5px;
    padding: 3.5px;
    text-decoration: none;
    background-color: lightpink;
    color: maroon;
}

.nav-menu a span {
    padding: 0 10px;
}

.nav-menu a:hover {
    background-color: maroon;
    color: lightpink;
}

.application {
    margin-left: 200px;
}

.application-array_comparison-title {
    color: firebrick;
}

.application-array_comparison-text {
    color: firebrick;
}

.application-array_comparison-inputs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.application-array_comparison-inputs textarea {
    outline: none;
	margin: 5px;
	border: 1px solid lightpink;
    border-radius: 2px;
    color: maroon;
}

.application-array_comparison-inputs textarea:focus {
    outline: none;
    border: 1px solid maroon;
}

.application-array_comparison-inputs textarea:hover {
    outline: none;
    border: 1px solid salmon;
}

.application-array_comparison-button {
    display: block;
    margin: 0 auto;
	padding: 5px;
	border: 1px solid lightpink;
	background-color: lightpink;
	border-radius: 2px;
	color: maroon;
}

.application-array_comparison-button:hover {
    border: 1px solid maroon;
    background-color: maroon;
    color: lightpink;
}

.application-array_comparison-result {
    color: maroon;
}

.application-word_processor-container {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.application-word_processor input {
    margin: 10px 20px;
    outline: none;
    border: 1px solid lightpink;
    border-radius: 2px;
    color: maroon;
}

.application-word_processor input:hover {
    outline: none;
    border: 1px solid salmon;
}

.application-word_processor input:focus {
    outline: none;
    border: 1px solid maroon;
}

.application-word_processor button {
    margin: 10px 20px;
    border: 1px solid lightpink;
    background-color: lightpink;
    color: maroon;
}

.application-word_processor button:hover {
    border: 1px solid maroon;
    background-color: maroon;
    color: lightpink;
}

.application-word_processor-text {
    margin: 10px 0px;
    color: firebrick;
}

.application-word_processor-title {
    color: firebrick;
}

.application-counting_characters {
    display: flex;
    flex-direction: column;
}

.application-counting_characters-title {
    color: firebrick;
}

.application-counting_characters-text {
    color: firebrick;
}

.application-counting_characters-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.application-counting_characters textarea {
    outline: none;
	border: 1px solid lightpink;
    border-radius: 2px;
    color: maroon;
}

.application-counting_characters textarea:focus {
    outline: none;
    border: 1px solid maroon;
}

.application-counting_characters textarea:hover {
    outline: none;
    border: 1px solid salmon;
}

.application-counting_characters button {
    margin: 10px;
    height: 30px;
    border: 1px solid lightpink;
    background-color: lightpink;
    color: maroon;
}

.application-counting_characters button:hover {
    border: 1px solid maroon;
    background-color: maroon;
    color: lightpink;
}

.application-counting_characters-container_text {
    display: flex;
    justify-content: center;
}

.application-counting_characters-text_bordered {
    color: firebrick;
    border: 1px solid lightpink;
    margin: 10px auto;
    padding: 10px;
}

.application-query_processing h2 {
    color: firebrick;
}

.application-query_processing div {
    margin: 10px auto;
    color: firebrick;
}

.application-query_processing-textarea_container {
    display: flex;
    justify-content: space-evenly;
}

.application-query_processing-textarea_container textarea {
    outline: none;
    border: 1px solid lightpink;
    border-radius: 2px;
    color: maroon;
}

.application-query_processing-textarea_container textarea:focus {
    outline: none;
    border: 1px solid maroon;
}

.application-query_processing-textarea_container textarea:hover {
    outline: none;
    border: 1px solid salmon;
}

.application-query_processing button {
    display: block;
    margin: 20px auto;
    height: 30px;
    border: 1px solid lightpink;
    background-color: lightpink;
    color: maroon;
}

.application-query_processing button:hover {
    border: 1px solid maroon;
    background-color: maroon;
    color: lightpink;
}